.searchContainer {
    position: relative;
}

.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
    opacity: 0.4;
    pointer-events: none;
    scale: 1;
    transition: scale 0.23s ease-in-out;
}

.input {
    width: 400px;
    padding: 12px 20px 12px 35px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: border 0.23s ease-in-out;

    &:focus {
        border-color: rgba(0, 0, 0, 0.3);
    }
}

.input:focus+.icon {
    left: 8px;
    scale: 0.7;
    top: 48%;
}