.pagination_container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.root {
    display: flex;
    gap: 10px;

    li {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            min-width: 40px;
            min-height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            background-color: #fff;

            border-radius: 30px;
            border: 1px solid #fe5f1e;
            color: #fe5f1e;
            cursor: pointer;

            transition: all 0.3s ease;

            &:hover {
                color: #fff;
                background-color: #fe5f1e;
            }
        }
    }

    :global {
        .selected {
            a {
                color: #fff;
                background-color: #fe5f1e;
            }
        }

        // .disabled {
        //     a {
        //         cursor: auto;
        //         background-color: #fff;
        //     }
        // }
    }
}

// Стили для отключенных кнопок
.disabled {
    opacity: 0.6;
    pointer-events: none;

    a {
        border-color: #ccc !important;
        color: #ccc !important;

        &:hover {
            background-color: transparent !important;
            color: #ccc !important;
        }
    }
}